{
  "version" : "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.arguments.id)
  },
  "update":{
        "expression": "SET job_status = :job_status, end_time = :end_time",
        "expressionValues": {
            ":job_status": $util.dynamodb.toDynamoDBJson($ctx.arguments.job_status),
            ":end_time": $util.dynamodb.toDynamoDBJson($ctx.arguments.end_time),
        }
  }
}