{
  "version" : "2018-05-29",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "project_name":  $util.dynamodb.toDynamoDBJson($ctx.arguments.project_name),
    "company":  $util.dynamodb.toDynamoDBJson($ctx.arguments.company),
    "created_date":  $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
    "total_jobs": $util.dynamodb.toDynamoDBJson(0)
  }
}