{
  "version" : "2018-05-29",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "job_id":  $util.dynamodb.toDynamoDBJson($ctx.arguments.job_id),
    "job_status": $util.dynamodb.toDynamoDBJson($ctx.arguments.job_status),
    "start_time": $util.dynamodb.toDynamoDBJson($ctx.arguments.start_time)
  }
}