{
    "version" : "2018-05-29",
	"operation" : "Query",
	"query" : {
		"expression": "project_name = :project_name",
        "expressionValues" : {
            ":project_name" : $util.dynamodb.toDynamoDBJson($ctx.args.project_name)
        }
	},
    "index": "name_index"
}