{
    "version" : "2018-05-29",
	"operation" : "Query",
	"query" : {
		"expression": "company = :company ",
        "expressionValues" : {
            ":company" : $util.dynamodb.toDynamoDBJson($ctx.args.company)
        }
	},
	"index": "company_index"
	#if($ctx.args.nextToken)
			,"nextToken": $util.toJson($ctx.args.nextToken)
	#end
}