{
    "version" : "2018-05-29",
	"operation" : "Query",
	"query" : {
		"expression": "job_id = :job_id",
		"expressionValues" : {
			":job_id" : $util.dynamodb.toDynamoDBJson($ctx.args.job_id)
		}
	},
    "limit": $util.toJson($ctx.args.n)
}